<h1>Editing resume info</h1>

<%= render "form", resume_info: @resume_info %>

<br>

<div>
  <%= link_to "Show this resume info", @resume_info %> |
  <%= link_to "Back to resume infos", resume_infos_path %>
</div>
