<p style="color: green"><%= notice %></p>

<h1>Resume infos</h1>

<div id="resume_infos">
  <% @resume_infos.each do |resume_info| %>
    <%= render resume_info %>
    <p>
      <%#= link_to "Show Your Resume Information", resume_info %>
      <%= link_to "Edit Your Resume Information", edit_resume_info_path(resume_info) %>
    </p>
  <% end %>
</div>

<%= link_to "Create Your Resume Information", new_resume_info_path unless @resume_info %>
