<p style="color: green"><%= notice %></p>

<%= render @resume_info %>

<div>
  <%= link_to "Edit this resume info", edit_resume_info_path(@resume_info) %>
  <%#= link_to "Back to resume infos", resume_infos_path %>

  <%#= button_to "Destroy this resume info", @resume_info, method: :delete %>
</div>
