<section class="section-md">
  <div class="container">

    <div class="row" style="border: 0px solid green">

      <div class="col-9" style="border: 0px solid blue">
        <h4 class="header-title mb-3">About me!</h4>

        <div class="col-sm-12 col-print-12">
          <h4 class="text-primary font-weight-bold" style="margin-top: 15px;">Hi, I'm <%= @resume_info.name %></h4>

          <p>
            <%= @resume_info.about * 20 %>
          </p>

          <br>

          <h4 class="text-primary font-weight-bold">I'm looking for:</h4>
          <p>
            <%= @resume_info.looking %>
          </p>

        </div><!--end col-->

      </div><!--end col-->


      <%= render 'about_information' %>

    </div><!--end row-->
  </div>
</section><!--end section-->