<section class="section-md">
  <div class="container">
    <div class="row" style="border: 0px solid #00f">
      <div class="col-12">
        <h4 class="header-title mb-3">Education, Employment & Skills</h4>
      </div><!--end col-->

      <div class="col-sm-12 col-print-12" style="border: 0px solid #0f0">

        <div class="row" style="border: 0px solid #f00">

          <div class="col-sm-4 col-print-4">
            <%= render 'career_education' %>
          </div>

          <div class="col-sm-4 col-print-4">
            <%= render 'career_employment' %>
          </div>

          <div class="col-sm-4 col-print-4">
            <%= render 'career_skills' %>
          </div>

        </div><!--end row-->

      </div><!--end col-->


    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->