<section class="section bg-profile" style="background-color: black">
  <div class="zoo-profile">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-print-6 align-self-center mb-3 mb-lg-0">
          <%= render 'head_profile' %>
        </div><!--end col-->


        <div class="col-sm-4 col-print-4 ml-auto">
          <%= render 'head_contact_me' %>
        </div><!--end col-->

      </div><!--end row-->
    </div><!--end container-->
  </div><!--end zoo-profile-->
</section><!--end section-->