<div class="zoo-profile-main">
  <div class="zoo-profile-main-pic">
    <%= image_tag @resume_info.picture, class: "rounded-circle" if @resume_info and  !@resume_info.picture.blank? %>
  </div>

  <div class="zoo-profile_user-detail">
    <h3 class="zoo-user-name"><%=  @resume ? @resume_info.name : 'Create Resume Info' %></h3>
    <!--              <p class="cd-headline loading-bar">-->
    <div class=" ">
      <p><%= @resume_info ? @resume_info.description : 'Create Resume Info' %> </p>
    </div>
    <!--              </p>-->
  </div><!--end zoo-profile_user-detail-->
</div> <!--end profile-main-pic-->