<div class="zoo-profile-main">
  <div class="zoo-profile-main-pic">
    <%= image_tag @resume_info.picture, class: "rounded-circle" if @resume_info and @resume_info.picture %>
  </div>

  <div class="zoo-profile_user-detail">
    <h3 class="zoo-user-name"><%= @resume_info.name %></h3>
    <!--              <p class="cd-headline loading-bar">-->
    <div class=" ">
      <p><%= @resume_info.description %> </p>
      <!-- <b>Angular Developer</b>-->
      <!-- <b>React Native Developer</b>-->
    </div>
    <!--              </p>-->
  </div><!--end zoo-profile_user-detail-->
</div> <!--end profile-main-pic-->