

<section class="bg-funfact section-md">
  <div class="container">
    <div class="row justify-content-center" id="counter">
      <div class="col-sm-4 digit-counter">
        <div class="media">
          <i class="uil uil-cell text-warning mr-2 align-self-center"></i>
          <div class="media-body align-self-center">
            <h3 class="mb-1"><span class="counter-value" data-count="1500">10</span>+</h3>
            <h5 class="counter-name mt-0">Complated Projects</h5>
          </div>
        </div><!--end media-->
      </div><!--end col-->
      <div class="col-sm-4 digit-counter">
        <div class="media">
          <i class="uil uil-smile text-success mr-2 align-self-center"></i>
          <div class="media-body align-self-center">
            <h3 class="mb-1"><span class="counter-value" data-count="16">1</span>k</h3>
            <h5 class="counter-name mt-0">Happy Clients</h5>
          </div>
        </div> <!--end media-->
      </div><!--end col-->
      <div class="col-sm-4 digit-counter">
        <div class="media">
          <i class="uil uil-trophy text-pink mr-2 align-self-center"></i>
          <div class="media-body align-self-center">
            <h3 class="mb-1"><span class="counter-value" data-count="21">1</span></h3>
            <h5 class="counter-name mt-0">Awards Received</h5>
          </div>
        </div><!--end media-->
      </div> <!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->