<h1>Editing social network</h1>

<%= render "form", social_network: @social_network %>

<br>

<div>
  <%= link_to "Show this social network", @social_network %> |
  <%= link_to "Back to social networks", social_networks_path %>
</div>
