<section class="section-md">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <h4 class="header-title mb-3">About us !</h4>
      </div><!--end col-->

      <div class="col-sm-6 col-print-6">
        <h4 class="text-primary font-weight-bold">I'm Rosa Dodson</h4>

        <p>It is a long established fact that a reader will be distracted
          by the readable content of a page when looking at its layout. The point of using
          Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed.
        </p>

        <button type="button" class="btn btn-sm btn-soft-primary">Download CV</button>
      </div><!--end col-->

      <div class="col-sm-5 col-print-5 offset-lg-1 align-self-center">
        <p>
          <span class="personal-detail-title">Name</span>
          <span class="personal-detail-info">Rosa Dodson</span>
        </p>
        <p>
          <span class="personal-detail-title">Date of birth</span>
          <span class="personal-detail-info">06 june 1989</span>
        </p>
        <p>
          <span class="personal-detail-title">Spoken Langages</span>
          <span class="personal-detail-info">English - French - German</span>
        </p>
        <p>
          <span class="personal-detail-title">Nationality</span>
          <span class="personal-detail-info">USA</span>
        </p>
        <p>
          <span class="personal-detail-title">Interest</span>
          <span class="personal-detail-info">Music, Reading, journey</span>
        </p>
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->