
<section class="section-md contact-form">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h4 class="header-title mb-3">Contact Me</h4>
      </div> <!--end col-->
      <div class="col-sm-4">
        <div class="contact-info">
          <div class="icon">
            <i class='uil uil-phone-volume'></i>
          </div>
          <div class="content">
            <h5>Free Call To Me:</h5>
            <span>(+1) 234-567-8910</span>
          </div>
        </div><!--end contact-info-->

        <div class="contact-info">
          <div class="icon">
            <i class='uil uil-envelope'></i>
          </div>
          <div class="content">
            <h5>Mail Me:</h5>
            <span>Your@example.com</span>
          </div>
        </div><!--end contact-info-->

        <div class="contact-info">
          <div class="icon">
            <i class='uil uil-map-marker'></i>
          </div>
          <div class="content">
            <h5>Find Me:</h5>
            <span>123 Lorem Ipsum, USA</span>
          </div>
        </div><!--end contact-info-->
      </div><!--end col-->
      <div class="col-sm-8">
        <div class="contact-form">
          <div id="message"></div>
          <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label>Name</label>
                <input type="text" name="name" class="form-control" id="name">
              </div><!--end col-->
              <div class="form-group col-md-6">
                <label>Email address</label>
                <input type="email" name="email" class="form-control" id="email">
              </div><!--end col-->
              <div class="form-group col-md-12">
                <label>Message</label>
                <textarea rows="4" name="message" class="form-control" id="comments"></textarea>
              </div><!--end col-->
              <div class="form-group col-md-12">
                <input type="submit" value="Submit now" name="submit" id="submit" class="btn btn-primary px-5 py-2">
                <div id="simple-msg"></div>
              </div><!--end col-->
            </div><!--end row-->
          </form><!--end form-->
        </div><!--end contact-form-->
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->

<section class="section-md thanks-text">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Thank you !</h3>
      </div> <!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->