<section class="section bg-profile" id="profile_ripple" style="background-color: black">
  <div class="zoo-profile">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-print-6 align-self-center mb-3 mb-lg-0">
          <div class="zoo-profile-main">
            <div class="zoo-profile-main-pic">
              <%= image_tag "users/user-4.jpg", class: "rounded-circle" %>
            </div>

            <div class="zoo-profile_user-detail">
              <h5 class="zoo-user-name">Helio Antonio Borges Junior</h5>
              <p class="cd-headline loading-bar">
                <span class="cd-words-wrapper">
                <b class="is-visible">Ruby on Rails Full Stack Developer</b>
                  <!-- <b>Angular Developer</b>-->
                  <!-- <b>React Native Developer</b>-->
                </span>
              </p>
            </div><!--end zoo-profile_user-detail-->
          </div> <!--end profile-main-pic-->
        </div><!--end col-->

        <div class="col-sm-4 col-print-4 ml-auto">
          <ul class="list-unstyled personal-detail">
            <li><i class="'uil uil-phone-volume mr-2"></i> <b> phone </b>: +91 23456 78910</li>
            <li class="mt-2"><i class="uil uil-envelope mt-2 mr-2"></i> <b> Email </b> : mannat.theme@gmail.com</li>
            <!-- <li class="mt-2"><i class="uil uil-location-point  mt-2 mr-2"></i> <b>Location</b> : USA</li> -->
          </ul><!--end personal-detail-->

          <ul class="list-inline social-icon mb-0">
            <li class="list-inline-item">
              <a href="#" class="">
                <i class="uil uil-facebook-f"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a href="#" class="">
                <i class="uil uil-twitter"></i>
              </a>
            </li>

            <li class="list-inline-item">
              <a href="#">
                <i class="uil uil-instagram"></i>
              </a>
            </li>
          </ul><!--end social-icon-->

        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </div><!--end zoo-profile-->
</section><!--end section-->